<html lang="en">
<head>
<title>Formulario</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="css/diseño.css" />
</head>

 <div class="container">
    <div class="wrapper">
      <ul class="steps">
        <li class="is-active">Informacion de la Empresa</li>
        <li>Certificaciones</li>
        <li>Tipo de transporte</li>
      </ul>
      <form class="form-wrapper">
        <fieldset class="section ">
          <h3>Informacion de la Empresa</h3>
          <input type="text" name="no-empre" id="no-empre" placeholder="Nombre de la Empresa">
          <input type="text" name="direcion" id="direcion" placeholder="Direcion">
          <input type="text" name="no-con" id="no-con" placeholder="Nombre del Contacto"> 
          <input type="tel" name="cel" id="cel" placeholder="Celular"> 
          <input type="tel" name="tel" id="tel" placeholder="Telefono oficina">
          <input type="email" name="Correo" id="correo" placeholder="Correo"> 
          <input type="text" name="web" id="web" placeholder="Pagina Web"> 


          <div class="button">Siguiente</div>
        </fieldset>
        <fieldset class="section is-active">
          <h3>Certificaciones</h3>
          <div class="row cf">

            <div class="four col">  
              <input type="radio" name="r1" id="r1" >
              <label for="r1">
                <h4>C-TPAT</h4>
              </label>
            </div>

            <div class="four col">
              <input type="radio" name="r2" id="r2"><label for="r2">
                <h4>ISO-9001</h4>
              </label>
            </div>

            <div class="four col">
              <input type="radio" name="r3" id="r3"><label for="r3">
                <h4>OEA</h4>
              </label>
            </div>

            <div class="four col">
              <input type="radio" name="r4" id="r4"><label for="r4">
                <h4>OEA</h4>
              </label>
            </div>

            <div class="four col">
              <input type="radio" name="r5" id="r5"><label for="r5">
                <h4>Otro</h4>
              </label>
            </div>


          </div>
          <div class="button">Siguiente</div>
        </fieldset>

        <fieldset class="section is-active">
          <h3>Tipo de Transporte</h3>

          <h4>Caja Refrigerada</h4>
          <input type="number" name="camion" id="caamion" placeholder="Camión 3 1/2">
          <input type="number" name="camion" id="caamion" placeholder="Estaquitas">
          <input type="number" name="camion" id="caamion" placeholder="Full(Doble Semiremolque)">
          <input type="number" name="camion" id="caamion" placeholder="Rabon (1 Eje)">
          <input type="number" name="camion" id="caamion" placeholder="Torton (2 Ejes)">
          <h5>Trailer</h5>
          <input type="number" name="camion" id="caamion" placeholder="Contenedor 40">
          <input type="number" name="camion" id="caamion" placeholder="Contenedor 48">
          <input type="number" name="camion" id="caamion" placeholder="Contenedor 53">
          
          <h4>Caja seca</h4>
          <input type="number" name="camion" id="caamion" placeholder="Camión 3 1/2">
          <input type="number" name="camion" id="caamion" placeholder="Estaquitas">
          <input type="number" name="camion" id="caamion" placeholder="Full(Doble Semiremolque)">
          <input type="number" name="camion" id="caamion" placeholder="Rabon (1 Eje)">
          <input type="number" name="camion" id="caamion" placeholder="Torton (2 Ejes)">
          <h5>Trailer</h5>
          <input type="number" name="camion" id="caamion" placeholder="Contenedor 40">
          <input type="number" name="camion" id="caamion" placeholder="Contenedor 48">
          <input type="number" name="camion" id="caamion" placeholder="Contenedor 53">

          <h4>Especializado</h4>
          <input type="number" name="camion" id="caamion" placeholder="Autotanque Granel">
          <input type="number" name="camion" id="caamion" placeholder="Autotanque o Pipa">
          <input type="number" name="camion" id="caamion" placeholder="Autotanque para Asfalto">
          <input type="number" name="camion" id="caamion" placeholder="Estaquitas Redilas">
          <input type="number" name="camion" id="caamion" placeholder="Jaula a Granel">
          <input type="number" name="camion" id="caamion" placeholder="Jaula Cortina">
          
          <h4>Material Peligroso</h4>
          <input type="number" name="camion" id="caamion" placeholder="Autotanque o Pipa">
          <input type="number" name="camion" id="caamion" placeholder="Camión 3 1/2">
          <input type="number" name="camion" id="caamion" placeholder="Estaquitas">





          
          <input class="submit button" type="submit" value="Enviar">
        </fieldset>
        <fieldset class="section">
          <h3>Account Created!</h3>
          <p>Your account has now been created.</p>
          <div class="button">Reset Form</div>
        </fieldset>
      </form>
    </div>
  </div>
  <script src="js/funcion.js"></script> 
  </html>