<html>
	<head></head> 
	<body>
		<p>Nombre de la Empresa: <input type="text" name="nombre" placeholder="Nombre de la Empresa o Razon social" required></p>
		<p>Direcion: <input type="text" name="nombre" required></p> 
		<p>Nombre del Contacto: <input type="text" name="nombre" required></p> 
		<p>Celular: <input type="text" name="nombre" required></p> 
		<p>Telefono oficina: <input type="text" name="nombre" required></p> 
		<p>Email: <input type="text" name="nombre" required></p> 
		<p>Pagina Web: <input type="text" name="nombre" required></p>
		certificacion <br>
		<input type="checkbox" name="C-TPAT">C-TPAT 
		<input type="checkbox" name="C-TPAT">ISO-9001 
		<input type="checkbox" name="OEA">OEA
		<input type="checkbox" name="TRANSPORTE LIMPIO">TRANSPORTE LIMPIO
		<p>OTRO: <input type="text" name="otro" required></p>  
		Tipo de Transporte <br> 
		Caja Seca<br> 
		<p>Camión 3 1/2: <input type="number" name="uno" placeholder="Ingresa Numero de Camiónes" max="99"></p> 

		<p>Estaquitas: <input type="number" name="dos" placeholder="Ingresa Numero de Camiónes" max="99"></p>

		<p>Full(Doble Semiremolque): <input type="number" name="tres" placeholder="Ingresa Numero de Camiónes" max="99"></p>

		<p>Rabon (1 Eje): <input type="number" name="cuatro" placeholder="Ingresa Numero de Camiónes" max="99"></p> 

		<p>Torton (2 Ejes): <input type="number" name="cinco" placeholder="Ingresa Numero de Camiónes" max="99"></p>   

		Trailer<br> 
		<p>Contenedor 40": <input type="number" name="seis" placeholder="Ingresa Numero de Camiónes" max="99"></p> 

		<p>Contenedor 48": <input type="number" name="siete" placeholder="Ingresa Numero de Camiónes" max="99"></p> 

		<p>Contenedor 53": <input type="number" name="ocho" placeholder="Ingresa Numero de Camiónes" max="99"></p> 










	</body>
</html>